!!! 5
!!!
%head
  %title SendGrid Tester
  %style
    :sass
      body
        background: none repeat scroll 0 0 #EEEEEE
        font-family: 'Lucida Grande','Lucida Sans Unicode','Garuda'
        margin: 0
        padding: 0
      
%body
  %iframe#report{ :src => "", :width => "1025", :height => "1200", :frameborder => "0", :style => "margin: 0 auto; width: 1025px; display: block;" }
    
  = "<script src=\"http://pubnub-prod.appspot.com/js-api?pub-key=#{PUBNUB_PUBKEY}&sub-key=#{PUBNUB_SUBKEY}\"></script>"
  = javascript_include_tag "script"
    
