!!! 5
!!!
%head
  %title SendGrid Tester
  %style
    :sass
      body
        background: none repeat scroll 0 0 #EEEEEE
        font-family: 'Lucida Grande','Lucida Sans Unicode','Garuda'
        margin: 0
        padding: 0
      #history
        left: 0
        position: absolute
        top: 0
      
%body
  %iframe#report{ :src => "", :width => "100%", :frameborder => "0", :class => "autoHeight" }
  #history
    %ul#links      
  #pubnub{:"pub-key"=>PUBNUB_PUBKEY, :"sub-key"=>PUBNUB_SUBKEY, :ssl=>"off", :origin=>"pubsub.pubnub.com"}
  = "<script src=\"http://cdn.pubnub.com/pubnub-3.1.min.js\"></script>"
  = javascript_include_tag "jquery-1.4.3.min", "autoHeight"
  :javascript
    PUBNUB.subscribe({
      channel: "testing_sendgrid_#{PUBNUB_CHANNEL}",
      callback: function(message) { 
        PUBNUB.attr(PUBNUB.$("report"), "src", message["file"]);
        $("#links").append("<li><a href='"+message["file"]+"' target='report'>"+message["txt"]+"</a></li>")
      },
      error: function(e) {
        console.log(e);
      }
    })  
    
